/* Settings */
:root {
  --trans-white: #ffffffe0;
  --ash-gray: #cad2c5ff;
  --dark-sea-green: #84a98cff;
  --logo-color: #5DB094;
  --hookers-green: #52796fff;
  --dark-slate-gray: #354f52ff;
  --charcoal: rgb(28, 36, 41);
  --dark-charcoal: rgb(17, 21, 24);
}

@font-face {
  font-family: RedHatMedium;
  src: url("./fonts/RedHatText/static/RedHatText-Medium.ttf");
}

@font-face {
  font-family: RedHatItalics;
  src: url("./fonts/RedHatText/static/RedHatText-MediumItalic.ttf")
}

.App {
  background-color: var(--charcoal);
}

/* Header */

.App .header {
  font-size: 24px;
  position: fixed;
  width: 100vw;
  background-color: var(--trans-white);
  z-index: 2;
}

.logo {
  height: 100px;
}

.navbar-collapse .navbar-nav {
  margin: 0 auto;
  width: 75%;
  justify-content: space-around;
}

.navbar-nav > a {
  margin: 0;
  color: var(--charcoal)!important;
  font-family: RedHatMedium;
}

/* Home */

.App .home-banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* calc(50vh + 50vw) */
  height: clamp(50vh, 100vh, 1000px)!important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
}

#home {
  position: relative;
  z-index: 1;
}

.home, .about {
  z-index: 1;
}

.home .home-title-container {
  padding-top: 6vh;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.home-title-container .title-intro {
  color: white;
  font-family: RedHatItalics;
  font-size: clamp(30px, 6vw, 84px);
}

.home-title-container .title-overstock {
  color: var(--logo-color);
  font-family: RedHatMedium;
  font-size: clamp(48px, 12vw, 168px);
  line-height: 1;
}

.home-title-container .title-end {
  color: white;
  font-family: RedHatMedium;
  font-size: clamp(15px, 3vw, 42px);
  margin-top: 10px;
}

.home-title-container .title-hr {
  color: white;
}

.home-title-container .title-button {
  font-family: RedHatItalics;
  border-radius: 0px;
  font-size: clamp(10px, 2vw, 32px);
  padding: clamp(10px, 2vw, 32px);
  background-color: var(--charcoal);
}

.home-title-container .title-button, 
.home-title-container .title-button:active, 
.home-title-container .title-button:focus {
  border-color: var(--charcoal);
  box-shadow: none;
}

.home-title-container .title-button:focus {
  background-color: var(--charcoal);
}

.home-title-container .title-button:hover {
  background-color: var(--dark-charcoal);
  border-color: var(--charcoal)
}

/* Home Transition */


.home-trans1 .trans1-text-col {
  background-color: rgba(90, 90, 90, 0);
  padding: 0;
}

.home-trans1 .trans1-box-left,
.home-trans1 .trans1-box-right {
  display: flex;
  align-items: center;
}


.home-trans1 .trans1-title {
  color: var(--logo-color);
  font-family: RedHatItalics;
  font-size: clamp(30px, 4vw, 60px);
  text-align: center;
  white-space: nowrap;
}

.home-trans1 .trans1-text {
  color: white;
  font-family: RedHatMedium;
  text-align: center;
  font-size: clamp(15px, 1.5vw, 22.5px);
  padding-right: 20px;
}

.home-trans1 .trans1-title-text {
  color: var(--logo-color);
  font-family: RedHatMedium;
  text-align: center;
  font-size: clamp(30px, 3vw, 45px);
  padding-right: 20px;
}


.triangle-left-top {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 314px 30px 0 0;
  border-color: rgb(28, 36, 41) transparent transparent transparent;
  position: relative;
  z-index: 3;
}

.triangle-right-bottom {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 314px 30px;
  border-color: transparent transparent rgb(28, 36, 41) transparent;
  line-height: 0px;
  position: relative;
  z-index: 3;
  margin-left: auto;
}

.triangle-right-top {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 314px 0;
  border-color: transparent rgb(28, 36, 41) transparent transparent;
  margin-left: auto;
  position: relative;
  z-index: 3;
}

.triangle-left-bottom {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 314px 0 0 30px;
  border-color: transparent transparent transparent rgb(28, 36, 41);
  position: relative;
  z-index: 3;
}

/* Banner titles */
.App .banner-title {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* calc(50vh + 50vw) */
  height: 40vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
}

.title-container {
  position: relative;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* About */
.about-title {
  color: var(--logo-color);
  font-family: RedHatItalics;
  font-size: clamp(24px, 6vw, 96px);
  line-height: 1;
}

.about-container {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  padding: 0 50px;
}

.about-container .row{
  display: flex;
  justify-content: center;
}

.about-container .col {
  
}


.about-text-col {
  background-color: var(--charcoal);
  display: flex;
  align-items: center;
  /* max-width: 600px; */
}

.about-img-col {
  /* max-width: 500px; */
}

.parallax-about-right, .about-text-col {
  height: clamp(200px, 42vw, 500px)!important ;
}

.about-text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 20px;
}

.about-text-title {
  color: var(--logo-color);
  font-family: RedHatMedium;
  text-align: center;
  font-size: clamp(8px, 4vw, 48px);
}

.about-text {
  color: white;
  font-family: RedHatMedium;
  text-align: center;
  font-size: clamp(4px, 2vw, 24px);
}

/* Breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
  .logo {
    width: 220px;
    height: 80px;
  }

  /* #about .parallax-banner-layer-0 {
    background-image: none !important;
    background-color: var(--charcoal);
  } */

  .App .banner-title {
    height: 20vh !important;
  }

  .parallax-about-right, .about-text-col {
    height: 200px!important ;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar-nav > a {
    margin: 0 30px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* Extra extra large devices (large laptops and desktops, 1400px and up) */
/* @media only screen and (min-width: 1400px) {

} */